@model unitConverter.Models.WeightModel;

@{
    ViewData["Title"] = "New Weight Converter";
}

<div class="text-center">
    <h1 class="display-4">New Page  App</h1>
    <h1>@Model.ConvertToBase</h1>
   
</div>
